code/wpf/ClientApplication/Service References/EmployeeService/BrandAnalyticsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BrandAnalytics.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BrandAnalytics.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1/BrandAnalyticsService.Employees.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://127.0.0.1/BrandAnalyticsService.Employees.xamlx?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTwitterStudy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TwitterStudy" nillable="true" type="tns:TwitterStudy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTwitterStudy" nillable="true" type="tns:ArrayOfTwitterStudy" />
  <xs:complexType name="TwitterStudy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentState" type="tns:TwitterStudyStates" />
      <xs:element minOccurs="0" name="Duration" type="ser:duration" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:TwitterStudyReport" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Topics" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TwitterStudy" nillable="true" type="tns:TwitterStudy" />
  <xs:simpleType name="TwitterStudyStates">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Started" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Revision" />
      <xs:enumeration value="Canceled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TwitterStudyStates" nillable="true" type="tns:TwitterStudyStates" />
  <xs:complexType name="TwitterStudyReport">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FrequentTerms" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="NrOfAuthors" type="xs:int" />
      <xs:element minOccurs="0" name="NrOfTweets" type="xs:int" />
      <xs:element minOccurs="0" name="Studyid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TwitterStudyReport" nillable="true" type="tns:TwitterStudyReport" />
</xs:schema>