deliverables/fase1/wpf/ClientApplication/Service References/EmployeeService/BrandAnalyticsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrandAnalyticsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1/BrandAnalyticsService.Employees.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1/BrandAnalyticsService.Employees.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1/BrandAnalyticsService.Employees.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BrandAnalytics.Data" />
      <xsd:import schemaLocation="http://127.0.0.1/BrandAnalyticsService.Employees.xamlx?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetPendingStudies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingStudies" />
  </wsdl:message>
  <wsdl:message name="IService_GetPendingStudies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingStudiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_StartStudy_InputMessage">
    <wsdl:part name="parameters" element="tns:StartStudy" />
  </wsdl:message>
  <wsdl:message name="IService_StartStudy_OutputMessage" />
  <wsdl:message name="IService_SetStudyAsCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStudyAsCompleted" />
  </wsdl:message>
  <wsdl:message name="IService_SetStudyAsCompleted_OutputMessage" />
  <wsdl:portType name="IService">
    <wsdl:operation name="GetPendingStudies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPendingStudies" message="tns:IService_GetPendingStudies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPendingStudiesResponse" message="tns:IService_GetPendingStudies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartStudy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/StartStudy" message="tns:IService_StartStudy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/StartStudyResponse" message="tns:IService_StartStudy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStudyAsCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetStudyAsCompleted" message="tns:IService_SetStudyAsCompleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetStudyAsCompletedResponse" message="tns:IService_SetStudyAsCompleted_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPendingStudies">
      <soap:operation soapAction="http://tempuri.org/IService/GetPendingStudies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartStudy">
      <soap:operation soapAction="http://tempuri.org/IService/StartStudy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStudyAsCompleted">
      <soap:operation soapAction="http://tempuri.org/IService/SetStudyAsCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrandAnalyticsService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://127.0.0.1/BrandAnalyticsService.Employees.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>