deliverables/fase1/wpf/ClientApplication/Service References/EmployeeService/BrandAnalyticsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1/BrandAnalyticsService.Employees.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BrandAnalytics.Data" />
  <xs:import schemaLocation="http://127.0.0.1/BrandAnalyticsService.Employees.xamlx?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://127.0.0.1/BrandAnalyticsService.Employees.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetPendingStudies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingStudiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BrandAnalytics.Data" minOccurs="0" name="parameter1" nillable="true" type="q1:ArrayOfTwitterStudy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartStudy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studyId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topics" nillable="true" type="q2:ArrayOfstring" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="duration" type="q3:duration" />
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStudyAsCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>