deliverables/fase1/wpf/ClientApplication/Service References/ClientService/BrandAnalyticsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1/BrandAnalyticsService.Clients.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BrandAnalytics.Data" />
  <xs:element name="RequestStudy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:int" />
        <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestStudyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelStudy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelStudyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletedStudies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletedStudiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BrandAnalytics.Data" minOccurs="0" name="Studies" nillable="true" type="q1:ArrayOfTwitterStudyReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>