code/wpf/ClientApplication/Service References/ClientService/BrandAnalyticsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BrandAnalytics.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BrandAnalytics.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1/BrandAnalyticsService.Clients.xamlx?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTwitterStudyReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TwitterStudyReport" nillable="true" type="tns:TwitterStudyReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTwitterStudyReport" nillable="true" type="tns:ArrayOfTwitterStudyReport" />
  <xs:complexType name="TwitterStudyReport">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FrequentTerms" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="NrOfAuthors" type="xs:int" />
      <xs:element minOccurs="0" name="NrOfTweets" type="xs:int" />
      <xs:element minOccurs="0" name="Studyid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TwitterStudyReport" nillable="true" type="tns:TwitterStudyReport" />
</xs:schema>